{% extends "base1.html" %}
{% block content %}
<div class="column is-10 is-offset-1 is-vcentered">
   {% with messages = get_flashed_messages() %}
   {% if messages %}

   <div class="notification is-danger">
      {{ messages[0] }}
   </div>
   {% endif %}
   {% endwith %}

   <div class="box">
      <h1 class="title is-4 has-text-centered has-text-dark"> Cadastrar Novo Aluno </h1>
   </div>

   <form id="formulario" method="POST" action="/aluno/cadastrar" onsubmit="return confirm('Tem certeza de que deseja salvar essas informações?');">

      <div class="box ">

         <div class="columns">
            <div class="column">
               <div class="field">
                  <label class="label">Plano<span class="has-text-danger">*</span></label>
                  <div class="control">
                     <div class="select is-fullwidth">
                        <select name="plano" required>
                           <option disabled selected hidden></option>
                           <option>Somente Academia</option>
                           <option>Somente Aulas</option>
                           <option>Academia + Aulas</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
            <div class="column">
               <div class="field">
                  <label class="label">Situação<span class="has-text-danger">*</span></label>
                  <div class="control">
                     <div class="select is-fullwidth">
                        <select name="situacao" required>
                           <option disabled selected hidden></option>
                           <option>Ativo</option>
                           <option>Inativo</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="columns">
            <div class="column">
               <div class="field">
                  <label class="label">Nome<span class="has-text-danger">*</span></label>
                  <div class="control">
                     <input class="input" type="text" placeholder="Digite o nome do aluno" name="nome" required>
                  </div>
               </div>
            </div>
         </div>

         <div class="columns">
            <div class="column">
               <div class="field">
                  <label class="label">Identidade</label>
                  <div class="control">
                     <input class="input" type="text" placeholder="Digite o número de identidade" name="identidade" maxlength="13">
                  </div>
               </div>
            </div>
            <div class="column">
               <div class="field">
                  <label class="label">Data de Nascimento</label>
                  <div class="control">
                     <input class="input" type="date" placeholder="00/00/0000" name="nascimento">
                  </div>
               </div>
            </div>
            <div class="column">
               <div class="field">
                  <label class="label">Gênero</label>
                  <div class="control">
                     <label class="radio">
                     <input type="radio" name="genero" value="Masculino">
                     Masculino
                     </label>
                     <label class="radio">
                     <input type="radio" name="genero" value="Feminino">
                     Feminino
                     </label>
                     <label class="radio">
                     <input type="radio" name="genero" value="Não-binário">
                     Não-binário
                     </label>
                  </div>
               </div>
            </div>
         </div>

      </div>

      <div class="box">

         <div class="columns">
            <div class="column is-four-fifths">
               <div class="field">
                  <label class="label">Endereço residencial</label>
                  <div class="control">
                     <input class="input" type="text" placeholder="Avenida / rua / travessa / etc." name="endereco">
                  </div>
               </div>
            </div>
            <div class="column is-one-fifth">
               <div class="field">
                  <label class="label">Número da residência</label>
                  <div class="control">
                     <input class="input" type="number" min="0" placeholder="Número" name="numero">
                  </div>
               </div>
            </div>
         </div>

         <div class="columns">
            <div class="column">
               <div class="field">
                  <label class="label">Complemento</label>
                  <div class="control">
                     <input class="input" type="text" maxlength="50" placeholder="Bloco / apartamento / etc." name="complemento">
                  </div>
               </div>
            </div>
            <div class="column">
               <div class="field">
                  <label class="label">CEP</label>
                  <div class="control">
                     <input class="input" type="text" placeholder="00000-000" name="cep" oninput="formatarCEP(this)" maxlength="9">
                  </div>
               </div>
            </div>
            <div class="column">
               <div class="field">
                  <label class="label">Cidade</label>
                  <div class="control">
                     <input class="input" type="text" maxlength="30" placeholder="Cidade" name="cidade">
                  </div>
               </div>
            </div>
            <div class="column">
               <div class="field">
                  <label class="label">Estado</label>
                  <div class="control">
                     <div class="select is-fullwidth">
                        <select name="estado">
                           <option></option>
                           <option>Acre</option>
                           <option>Alagoas</option>
                           <option>Amapá</option>
                           <option>Amazonas</option>
                           <option>Bahia</option>
                           <option>Ceará</option>
                           <option>Distrito Federal</option>
                           <option>Espírito Santo</option>
                           <option>Goiás</option>
                           <option>Maranhão</option>
                           <option>Mato Grosso</option>
                           <option>Mato Grosso do Sul</option>
                           <option>Minas Gerais</option>
                           <option>Pará</option>
                           <option>Paraíba</option>
                           <option>Paraná</option>
                           <option>Pernambuco</option>
                           <option>Piauí</option>
                           <option>Rio de Janeiro</option>
                           <option>Rio Grande do Norte</option>
                           <option>Rio Grande do Sul</option>
                           <option>Rondônia</option>
                           <option>Roraima</option>
                           <option>Santa Catarina</option>
                           <option>São Paulo</option>
                           <option>Sergipe</option>
                           <option>Tocantins</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="columns">
            <div class="column">
               <div class="field">
                  <label class="label">E-mail<span class="has-text-danger">*</span></label>
                  <div class="control">
                     <input class="input" type="email" placeholder="ex.: eu@voce.com" name="email" required>
                  </div>
               </div>
            </div>
            <div class="column">
               <div class="field">
                  <label class="label">Telefone</label>
                  <div class="control">
                     <input class="input" type="tel" placeholder="Telefone de contato" name="telefone" oninput="formatarTelefone(this)" maxlength="14">
                  </div>
               </div>
            </div>
         </div>

      </div>

      <div class="box ">

         <div class="columns">
            <div class="column">
               <div class="field">
                  <label class="label">Situação médica</label>
                  <div class="control">
                     <div class="select is-fullwidth">
                        <select name="situacao_medica">
                           <option></option>
                           <option>Apto para a prática de atividades físicas</option>
                           <option>Pendente de atestado médico</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
            <div class="column">
               <div class="field">
                  <label class="label">Data do atestado</label>
                  <div class="control">
                     <input class="input" type="date" placeholder="00/00/0000" name="data_atestado">
                  </div>
               </div>
            </div>
         </div>

         <div class="columns">
            <div class="column">
               <div class="field">
                  <label class="label">Observações de saúde</label>
                  <div class="control">
                     <textarea class="textarea" placeholder="Ex.: Cirurgias anteriores, marcapassos, próteses, etc." name="observacoes_saude"></textarea>
                  </div>
               </div>
            </div>
         </div>

      </div>

      <div class="columns">

         <div class="column">
         </div>

         <div class="column has-text-centered">
            <div class="control">
               <button type="submit" class="button is-link is-fullwidth">Cadastrar</button>
            </div>
         </div>

         <div class="column has-text-centered">
            <div class="control">
               <button id="bt-cancelar" type="button" class="button is-light is-fullwidth">Cancelar</button>
            </div>
         </div>

         <div class="column">
         </div>

      </div>

   </form>

</div>

<script>

   document.getElementById("bt-cancelar").addEventListener("click", function () {
       var confirmacao = confirm("Deseja cancelar o cadastramento de novo aluno?");
       if (confirmacao) {
           document.getElementById("formulario").reset();
           window.location.href = "/aluno/cadastrar/cancelado";
       }
   });

     function formatarCEP(input) {
       input.value = input.value
         .replace(/\D/g, '') // Remove todos os caracteres não numéricos
         .replace(/(\d{5})(\d{3})/, '$1-$2') // Adiciona o hífen no formato de CEP
         .slice(0, 9); // Limita o número máximo de caracteres a 9
     }

     function formatarTelefone(input) {
       input.value = input.value
         .replace(/[^\d()-]/g, '') // Remove todos os caracteres que não são números, parênteses ou hífen
         .slice(0, 14); // Limita o número máximo de caracteres a 14
     }

</script>
{% endblock %}