{% extends "base1.html" %}
{% block content %}

<div class="column is-10 is-offset-1 is-vcentered">

   <div class="box">
      <h1 class="title is-4 has-text-centered has-text-dark"> Dados do Aluno </h1>
   </div>

   <div class="box ">
      <div class="columns">
         <div class="column">
            <div class="field">
               <label class="label">Matrícula</label>
               <div class="control">
                  <p class="has-background-light p-2">{{  matricula  }}</p>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="field">
               <label class="label">Plano</label>
               <div class="control">
                  <p class="has-background-light p-2">{{  plano  }}</p>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="field">
               <label class="label">Situação</label>
               <div class="control">
                  <p class="has-background-light p-2">{{  situacao  }} </p>
               </div>
            </div>
         </div>
      </div>
      <div class="columns">
         <div class="column">
            <div class="field">
               <label class="label">Nome</label>
               <div class="control">
                  <p class="has-background-light p-2">{{  nome  }}</p>
               </div>
            </div>
         </div>
      </div>
      <div class="columns {% if session['perfil'] == 'treinador' %} is-hidden {% endif %}">
         <div class="column">
            <div class="field">
               <label class="label">Identidade</label>
               <div class="control">
                  <input class="input" type="text" name="identidade" value="{{ identidade }}"  disabled>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="field">
               <label class="label">Data de Nascimento</label>
               <div class="control">
                  <input class="input" type="date" name="nascimento" value="{{ nascimento }}" disabled>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="field">
               <label class="label">Gênero</label>
               <div class="control">
                  <label class="radio">
                  <input type="radio" name="genero" value="Masculino" {% if genero=='Masculino'%} checked {% endif %} disabled>
                  Masculino
                  </label>
                  <label class="radio">
                  <input type="radio" name="genero" value="Feminino" {% if genero=='Feminino'%} checked {% endif %} disabled>
                  Feminino
                  </label>
                  <label class="radio">
                  <input type="radio" name="genero" value="Não-binário" {% if genero=='Não-binário'%} checked {% endif %} disabled>
                  Não-binário
                  </label>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="box {% if session['perfil'] == 'treinador' %} is-hidden {% endif %}">

      <div class="columns">
         <div class="column is-four-fifths">
            <div class="field">
               <label class="label">Endereço residencial</label>
               <div class="control">
                  <input class="input" type="text" name="endereco" value="{{ endereco }}" disabled>
               </div>
            </div>
         </div>
         <div class="column is-one-fifth">
            <div class="field">
               <label class="label">Número da residência</label>
               <div class="control">
                  <input class="input" type="number" min="0" name="numero" value="{{ numero }}" disabled>
               </div>
            </div>
         </div>
      </div>

      <div class="columns">
         <div class="column">
            <div class="field">
               <label class="label">Complemento</label>
               <div class="control">
                  <input class="input" type="text" maxlength="50" name="complemento" value="{{ complemento }}" disabled>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="field">
               <label class="label">CEP</label>
               <div class="control">
                  <input class="input" type="text" name="cep" value="{{ cep }}" oninput="formatarCEP(this)" maxlength="9" disabled>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="field">
               <label class="label">Cidade</label>
               <div class="control">
                  <input class="input" type="text" maxlength="30" name="cidade" value="{{ cidade }}" disabled>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="field">
               <label class="label">Estado</label>
               <div class="control">
                  <div class="select is-fullwidth">
                     <select name="estado" disabled>
                        <option></option>
                        <option {% if estado=='Acre'%} selected {% endif %}>Acre</option>
                        <option {% if estado=='Alagoas'%} selected {% endif %}>Alagoas</option>
                        <option {% if estado=='Amapá'%} selected {% endif %}>Amapá</option>
                        <option {% if estado=='Amazonas'%} selected {% endif %}>Amazonas</option>
                        <option {% if estado=='Bahia'%} selected {% endif %}>Bahia</option>
                        <option {% if estado=='Ceará'%} selected {% endif %}>Ceará</option>
                        <option {% if estado=='Distrito Federal'%} selected {% endif %}>Distrito Federal</option>
                        <option {% if estado=='Espírito Santo'%} selected {% endif %}>Espírito Santo</option>
                        <option {% if estado=='Goiás'%} selected {% endif %}>Goiás</option>
                        <option {% if estado=='Maranhão'%} selected {% endif %}>Maranhão</option>
                        <option {% if estado=='Mato Grosso'%} selected {% endif %}>Mato Grosso</option>
                        <option {% if estado=='Mato Grosso do Sul'%} selected {% endif %}>Mato Grosso do Sul</option>
                        <option {% if estado=='Minas Gerais'%} selected {% endif %}>Minas Gerais</option>
                        <option {% if estado=='Pará'%} selected {% endif %}>Pará</option>
                        <option {% if estado=='Paraíba'%} selected {% endif %}>Paraíba</option>
                        <option {% if estado=='Paraná'%} selected {% endif %}>Paraná</option>
                        <option {% if estado=='Pernambuco'%} selected {% endif %}>Pernambuco</option>
                        <option {% if estado=='Piauí'%} selected {% endif %}>Piauí</option>
                        <option {% if estado=='Rio de Janeiro'%} selected {% endif %}>Rio de Janeiro</option>
                        <option {% if estado=='Rio Grande do Norte'%} selected {% endif %}>Rio Grande do Norte</option>
                        <option {% if estado=='Rio Grande do Sul'%} selected {% endif %}>Rio Grande do Sul</option>
                        <option {% if estado=='Rondônia'%} selected {% endif %}>Rondônia</option>
                        <option {% if estado=='Roraima'%} selected {% endif %}>Roraima</option>
                        <option {% if estado=='Santa Catarina'%} selected {% endif %}>Santa Catarina</option>
                        <option {% if estado=='São Paulo'%} selected {% endif %}>São Paulo</option>
                        <option {% if estado=='Sergipe'%} selected {% endif %}>Sergipe</option>
                        <option {% if estado=='Tocantins'%} selected {% endif %}>Tocantins</option>
                     </select>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="columns">
         <div class="column">
            <div class="field">
               <label class="label">E-mail<span class="has-text-danger">*</span></label>
               <div class="control">
                  <p class="has-background-light p-2">{{  email  }}</p>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="field">
               <label class="label">Telefone</label>
               <div class="control">
                  <input class="input" type="tel" name="telefone" value="{{ telefone }}" oninput="formatarTelefone(this)" maxlength="14" disabled>
               </div>
            </div>
         </div>
      </div>

   </div>

   <div class="box ">

      <div class="columns">
         <div class="column">
            <div class="field">
               <label class="label">Situação médica</label>
               <div class="control">
                  <div class="select is-fullwidth">
                     <select name="situacao_medica" disabled>
                        <option></option>
                        <option {% if situacao_medica=='Apto para a prática de atividades físicas'%} selected {% endif %}>Apto para a prática de atividades físicas</option>
                        <option {% if situacao_medica=='Pendente de atestado médico'%} selected {% endif %}>Pendente de atestado médico</option>
                     </select>
                  </div>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="field">
               <label class="label">Data do atestado</label>
               <div class="control">
                  <input class="input" type="date" name="data_atestado" value="{{ data_atestado }}" disabled>
               </div>
            </div>
         </div>
      </div>

      <div class="columns">
         <div class="column">
            <div class="field">
               <label class="label">Observações de saúde</label>
               <div class="control">
                  <textarea disabled class="textarea" placeholder="">{{ observacoes_saude }}</textarea>
               </div>
            </div>
         </div>
      </div>

   </div>

   <div class="columns">

      <div class="column">
      </div>

      <div class="column has-text-centered {% if session['perfil'] == 'treinador' %} is-hidden {% endif %}">
         <div class="control">
            <button id="bt-editar" type="button" class="button is-link is-fullwidth ">Editar dados</button>
         </div>
      </div>

      <div class="column has-text-centered">
         <div class="control">
            <button id="bt-voltar" type="button" class="button is-light is-fullwidth">Voltar</button>
         </div>
      </div>

      <div class="column">
      </div>

   </div>

</div>

<script>
   document.getElementById("bt-editar").addEventListener("click", function () {
           window.location.href = "/aluno/{{ matricula }}/editar";
       });
   
   document.getElementById("bt-voltar").addEventListener("click", function () {
           window.history.back();
       });

</script>

{% endblock %}