{% extends "base1.html" %}
{% block content %}
<div class="hero-body is-align-items-stretch is-justify-content-center	">
   <div class="column is-four-fifths is-vcentered">
      <form id="formulario" method="POST" action="/aluno/{{ matricula }}/treino/cadastrar">
         <!-- Box com título do formulário -->
         <div class="box">
            <p class="has-text-centered mb-3"> 
               {% if 'Inativo' in treino.status %}
               <span class="is-size-4 has-text-weight-semibold has-text-danger">Plano de Treino Inativo</span>
               {% elif 'erro' in treino.status %}
               <span class="is-size-4 has-text-weight-semibold has-text-danger">Plano de Treino Excluído</span>
               {% else %}
               <span class="is-size-4 has-text-weight-semibold">Plano de Treino</span>
               {% endif %}
            </p>
            <div class="columns">
               <div class="column">
                  <p class="has-text-centered"> Aluno: {{ aluno_nome }} </p>
                  <p class="has-text-centered"> Treinador: {{ treino.treinador }}</p>
               </div>
            </div>
            <!-- Links para os dias de treino -->
            <div class="columns is-justify-content-center">
               {% if treino.exercicio1_1!="" %}
               <div class="column">
                  <button id="default" type="button" class="button is-fullwidth is-outlined tablinks" onclick="exibirTreino(event, 'dia1')">1º dia</button>
               </div>
               {% endif %}
               {% if treino.exercicio2_1!="" %}
               <div class="column">
                  <button type="button" class="button is-fullwidth is-outlined tablinks" onclick="exibirTreino(event, 'dia2')">2º dia</button>
               </div>
               {% endif %}
               {% if treino.exercicio3_1!="" %}
               <div class="column">
                  <button type="button" class="button is-fullwidth is-outlined tablinks" onclick="exibirTreino(event, 'dia3')">3º dia</button>
               </div>
               {% endif %}
               {% if treino.exercicio4_1!="" %}
               <div class="column">
                  <button type="button" class="button is-fullwidth is-outlined tablinks" onclick="exibirTreino(event, 'dia4')">4º dia</button>
               </div>
               {% endif %}
               {% if treino.exercicio5_1!="" %}
               <div class="column">
                  <button type="button" class="button is-fullwidth is-outlined tablinks" onclick="exibirTreino(event, 'dia5')">5º dia</button>
               </div>
               {% endif %}
            </div>
            <!-- Conteúdo dos treinos -->
            {% for i in range(1,6) %}
            <div id="dia{{ i }}" class="tabcontent">
               {% for j in range(1,11) %}
               {%  set exercicio = treino["exercicio" + i|string + "_" + j|string]  %}
               {%  set frequencia = treino["frequencia" + i|string + "_" + j|string]  %}
               {%  set carga = treino["carga" + i|string + "_" + j|string]  %}
               {% if exercicio!="" %}
               <div class="field is-horizontal">
                  <div class="field-label is-normal">
                     <label class="label">Exercício {{ j }}</label>
                  </div>
                  <div class="field-body">
                     <div class="field">
                        <p class="control is-expanded">
                           <input readonly  class="input" type="text" placeholder="Nome do exercício" name="exercicio{{ i }}_{{ j }}" value="{{ exercicio }}">
                        </p>
                     </div>
                     <div class="field">
                        <p class="control is-expanded">
                           <input readonly  class="input" type="text" placeholder="Frequência" name="frequencia{{ i }}_{{ j }}" value="{{ frequencia }}">
                        </p>
                     </div>
                     <div class="field">
                        <p class="control is-expanded">
                           <input readonly  class="input" type="text" placeholder="Carga" name="carga{{ i }}_{{ j }}" value="{{ carga }}">
                        </p>
                     </div>
                  </div>
               </div>
               {% endif %}
               {% endfor %}
            </div>
            {% endfor %}		
         </div>
         <!-- Botões -->
         <div class="columns">
            <div class="column">
            </div>
            <div class="column has-text-centered {% if session['perfil'] == 'aluno' %} is-hidden {% endif %}">
               <div class="control">
                  <button id="bt-editar" type="button" class="button is-link is-fullwidth">Editar dados</button>
               </div>
            </div>
            <div class="column has-text-centered">
               <div class="control">
                  <button id="bt-voltar" type="button" class="button is-light is-fullwidth">Voltar</button>
               </div>
            </div>
            <div class="column">
            </div>
         </div>
      </form>
   </div>
</div>
<script>
   function exibirTreino(evt, dia) {
     // Declarar todas as variáveis
     var i, tabcontent, tablinks;
   
     // Obtenha todos os elementos com class="tabcontent" e oculte-os
     tabcontent = document.getElementsByClassName("tabcontent");
     for (i = 0; i < tabcontent.length; i++) {
       tabcontent[i].style.display = "none";
     }
   
     // Obtenha todos os elementos com class="tablinks" e remova a classe "is-link is-light"
     tablinks = document.getElementsByClassName("tablinks");
     for (i = 0; i < tablinks.length; i++) {
       tablinks[i].className = tablinks[i].className.replace(" is-link is-light", "");
     }
   
     // Mostre a guia atual e adicione uma classe "is-link is-light" ao botão que abriu a guia
     document.getElementById(dia).style.display = "block";
     evt.currentTarget.className += " is-link is-light";
   }
   document.getElementById("default").click();
   
   document.getElementById("bt-editar").addEventListener("click", function () {
           window.location.href = "/treino/{{ treino.id }}/editar";
       });
   
   document.getElementById("bt-voltar").addEventListener("click", function () {
           window.history.back();
       });
   
</script>
{% endblock %}